<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>This file is coming from server with dynamic content update</h2>
    <h4>id: <%= id %></h4>
    <% if (user) { %>
    <h4><%= user.name %></h4>
    <h4><%= user.age %></h4>
    <% } %>
  </body>
</html>
